@media (max-width: 884px) {
  body {
    width: 100%;
  }
  .underwater_palace_img {
  }
  .click_btn {
    bottom: clamp(18rem, 60vw, 60rem);
  }
  #puzzle_game {
  }
}

@media (max-width: 479px) {
  .underwater_palace_img {
  }
  .click_btn {
    bottom: clamp(18rem, 60vw, 30rem);
  }
}
@media (max-width: 425px) {
}
@media (max-width: 300px) {
  .click_btn {
  }
}
@media (max-height: 809px) {
  .page {
    width: 90%;
  }
}
