@media (max-width: 884px) {
  body {
    width: 100%;
  }
  .underwater_palace_img {
  }
  .piggyback_btn {
    bottom: clamp(18rem, 60vw, 60rem);
  }
  .shiny_img {
    bottom: clamp(15rem, 48vw, 44rem);
  }
  .piggyback_img {
    bottom: clamp(20rem, 54vw, 44rem);
  }
  .fill_img {
    /* width: 80%; */
  }
  .background {
    /* width: 80%; */
  }
  .fill_box {
    /* width: 23rem; */
  }
}

@media (max-width: 479px) {
  .underwater_palace_img {
  }
  .piggyback_btn {
    bottom: clamp(18rem, 60vw, 30rem);
  }
  .complete_button {
    top: clamp(53%, 40vw, 55%);
  }
  .shiny_img {
    bottom: clamp(5rem, 48vw, 36rem);
  }
  .piggyback_img {
    bottom: clamp(5rem, 47vw, 44rem);
  }
  .rabbit_turtle_img .balloon_img1 {
    transform: inherit;
  }
  .rabbit_turtle_img.on .balloon_img2 {
    transform: inherit;
    top: -18%;
  }
  .fill_img {
    /* width: 80%; */
  }
  .background {
    width: 80%;
  }
  .fill_box {
    width: 45.5%;
  }
}
@media (max-width: 425px) {
  .fix_txt {
    bottom: -12%;
  }
  .fix_txt > div {
    font-size: clamp(1rem, 3vw, 1.4rem);
  }
}
@media (max-width: 350px) {
  .click_btn {
  }
  .shiny_img {
    bottom: clamp(0rem, 42vw, 36rem);
  }
  .rabbit_turtle_img.on .balloon_img2 {
    transform: inherit;
    top: -10%;
  }
}
@media (max-height: 809px) {
  .game_page {
  }
  .page {
    height: 90%;
    top: -5.5%;
  }
  #complete_popup {
    top: 54%;
  }
  .puzzle_area > .txt.on {
    height: 16%;
  }

  .fill_img {
    bottom: 3%;
    height: 5.5rem;
  }
  .fill_box {
    height: 4rem;
    top: 0.8rem;
  }
}
